@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flipX {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

@keyframes lightUp {
  from {
    color: white;
  }
  to {
    color: #8486a9;
  }
}

.flipX {
  animation: flipX 0.8s ease-in-out 1;
  transform: rotateX(180deg);
  transform-origin: bottom;
}
.lightUp {
  animation: lightUp 1s ease-in-out 1;
}
.staticFlipX {
  transform: rotateX(180deg);
}
.flippable {
  transform-style: preserve-3d;
}
.threeD {
  perspective: 600px;
}
